.wrapper {
  width: 356px;
  padding: 20px 0 26px;
  padding-left: 8px;
  width: 348px;
  position: fixed;
  height: 890px;
  overflow: hidden;
  transition: overflow 200ms ease-in-out 0s;
  &:hover {
    overflow: scroll;
  }
}
